* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: red;
}

body {
    overflow: hidden;
    height: 100vh;
}

.campo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20%;
    padding-bottom: 5%;
    background: repeating-linear-gradient(
        #2e9150,
        #2e9150 10vh,
        #31b65f 10vh,
        #31b65f 20vh
    );
}

.campo-parte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Campo do Meio */
.campo-parte.campo-meio {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.campo-parte.campo-meio .linha1 {
    display: flex;
    justify-content: center;
}

.campo-parte.campo-meio .linha2 {
    display: flex;
    justify-content: space-around;
}

/* Campo de Baixo */
.campo-parte.campo-baixo {
    flex-direction: column;
    gap: 15vh;
}

.campo-parte.campo-baixo .linha1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.campo-parte.campo-baixo .linha2 {
    display: flex;
    justify-content: center;
}

.jogador {
    --jogador-tamanho: 4rem;
    width: var(--jogador-tamanho);
    height: var(--jogador-tamanho);
    background-color: transparent;
    background-size: contain;
    border: 2px solid black;
    border-radius: 50%;
}

/* Overlay preto */
.black-overlay {
    background-color: black;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}

.black-overlay.active {
    top: 0;
}

/* Lista de Jogadores */
.lista-jogadores {
    position: absolute;
    bottom: 0;
    height: 75vh;
    width: 100%;
    border-radius: 48px 48px 0 0;
    background-color: #f0f0f0;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
}

.lista-jogadores.active {
    transform: translateY(0%);
}

.lista-jogadores > .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
    grid-template-rows: max-content;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    height: fit-content;
    margin: 48px 2em 8px 2em;
}

.card-info-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-info-jogador > * {
    width: fit-content;
}

.jogador-foto, .jogador-foto img {
    width: 100%;
}

.jogador-foto img {
    max-height: 128px;
}

.jogador-nome {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
}