.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 90px auto; */
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 450px;
    width: 650px;
    border-radius: 3%;
    border-color: black;
    border-style: inset;
    margin-bottom: 15vh;
}

.img,
.img img {
    width: 100%;
}

.button {
    flex: 1;
    display: grid;
    place-items: center;
    text-align: center;
}

#butao {
    padding: 20px 50px;
    font-size: 1.1em;
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    background-color: green;
}
