* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: hsl(258, 67%, 46%);
    --cor-secundaria: hsl(30.19, 67.93%, 46.47%);
    --campo-cor-primaria: hsl(120.47, 100%, 25.1%);
    --campo-cor-secundaria: hsl(120.47, 100%, 26.1%);

    font-family: sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

.campo {
    width: 100%;
    height: 100vh;
    padding: 32px 24px;
    background-image: url(/www/assets/campo-background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.campo .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.campo-parte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

/* Campo de Baixo */
.campo-parte.campo-baixo {
    gap: 10vw;
}

.campo-baixo > * {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    flex: 1;
}

/* Jogadores */
.jogador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.jogador-container .jogador {
    --jogador-tamanho: 3rem;
    width: var(--jogador-tamanho);
    height: var(--jogador-tamanho);
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 2, 0.2); */
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.35);
    background-color: hsl(149, 87%, 44%);
    background-size: contain;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

.jogador-container .jogador-label {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #62bb47;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
}

/* Overlay preto */
.black-overlay {
    background-color: black;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}

.black-overlay.active {
    top: 0;
}

/* Lista de Jogadores */
.lista-jogadores {
    position: absolute;
    bottom: 0;
    height: 75vh;
    width: 100%;
    border-radius: 48px 48px 0 0;
    background-color: hsl(0, 0%, 98%);
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;
}

.lista-jogadores.active {
    transform: translateY(0%);
}

.lista-jogadores > .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(138px, 1fr));
    grid-template-rows: max-content;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    height: fit-content;
    margin: 48px 2em 8px 2em;
}

.card-info-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 1px;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-info-jogador > * {
    width: fit-content;
}

.jogador-foto,
.jogador-foto img {
    width: 100%;
}

.jogador-foto img {
    max-height: 128px;
}

.jogador-nome {
    font-size: 1.3rem;
    font-weight: normal;
}
