* {
    font-family: sans-serif;
}
.titulo1 {
    margin: 0;
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px #000000;
    color: chocolate;
}

.titulo2 {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: greenyellow;
    font-size: 80px;
    text-shadow: 3px 3px #000000;
}

.botao1 {
    font-size: 40px;
    color: gold;
    text-align: center;
    background-color: darkgreen;
}

.botao2 {
    font-size: 40px;
    text-align: center;
    background-color: gold;
    color: darkgreen;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
